app
trash/
.vscode/
build/
__pycache__/
.venv/
venv/
env/
ENV/
.venv/
venv/
env/
.idea/
.vscode/
.DS_Store/
.DS_Store
.idea/
.vscode/
models/best_seg.pt
models/egyId_weights.pt
inf.py
test.py
*.docx
*.tmp